body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
  }
  h1 {
    text-align: center;
  }
  #terminal-container {
    width: 960px;
    height: 600px;
    margin: 0 auto;
    padding: 2px;
  }
  #terminal-container .terminal {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
  }
  #terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
  }